.page-title {
    text-align: center;
    font-weight: 100;
}
  
.page-description {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
}
.wrapper { 
    margin: 4px, 4px; 
    padding: 4px; 
    border: 1px solid gray;
    background-color: azure; 
    width: 1200px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    display: flex;
  }
  
  .item {
    width: 300px;
    flex-shrink: 0;
    text-align: center;
    height: 600px;
    border: 1px solid gray;
  }