.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.mainContainer {
    margin: auto;
    margin-top: 10px;
    padding: 10px;

    width: 98%;

    display: flex;
    justify-content: center;
}

.searchContainer {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    justify-content: left;
}

.fourYearCalendarContainer {
    flex-grow: 1;
}

.yearContainer {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;

    width: 98%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.multQuarterContainer {
    display: flex;
    flex: 1;
}

.quarterContainer {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fffbe9;
    box-shadow: 2px 2px 3px rgb(221, 221, 221);

    display: flex;
    flex: 1;
    flex-direction: column;
}

.courseList {
    padding: 8px;
    flex-grow: 1;
    min-height: 100px; 
}

.courseContainer {
    padding: 8px;
    margin-bottom: 8px;

    background-color: #fff0b5;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 2px 2px 3px rgb(221, 221, 221);

}

.dragHandle {
    font-size: .5rem;
    padding: 5px;

    align-items: center;
    background-color: #ffeb9c;
    border-radius: 5px;
    margin-left: 20px;
}