.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.titleBar {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color:rgb(75, 96, 143);
    color: white;
}

.title {
    font-size: 34px;
    font-weight: 600;
}

.helpButton {
    height: auto;
}

.mainContainer {
    margin: auto;
    margin-top: 10px;
    padding: 10px;

    width: 98%;

    display: flex;
    justify-content: center;
}

.searchContainer {
    margin-top: 10px;
    padding: 1vw;
    border-radius: 2px;
    justify-content: left;

    border-radius: 15px;
    background-color: rgb(75, 96, 143);
    color: white;

    padding-right: 20px;
    overflow: hidden;


    width: 22vw;
    height: 90%;
}

.searchDrop {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.searchCourseList {
    width: 100%;
    height: 100%;
    padding-right: 1vw;
    overflow: auto;
    box-sizing: content-box;
}


.fourYearCalendarContainer {
    flex-grow: 1;
    padding: 20px;
    padding-top: 0;

    width: 70vw;
}

.yearContainer {
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(101, 116, 148);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.multQuarterContainer {
    display: flex;
    flex: 1;
}

.quarterContainer {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(75, 96, 143);
    
    display: flex;
    flex: 1;
    flex-direction: column;
}

.takenQuarterContainer {
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(85, 85, 85);
    display: flex;
    flex: 1;
    flex-direction: column;
    color: rgb(187, 187, 187);
}

.courseList {
    flex-grow: 1;
    min-height: 100px; 
}

.courseContainer {
    padding: 8px;
    padding-left: 12px;
    margin-bottom: 8px;
    font-size: 20px;
    width: 20vw;

    background-color: rgb(43, 64, 109);
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    box-shadow: 2px 2px 3px rgb(32, 47, 79);

}

.takenContainer {
    padding: 8px;
    padding-left: 12px;
    margin-bottom: 8px;
    font-size: 22px;
    width: 20vw;


    background-color: #787878;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 2px 2px 3px rgb(32, 47, 79);

}

.dragHandle {
    font-size: .5rem;
    padding: 5px;

    align-items: center;
    background-color: #636363;
    border-radius: 5px;
    margin-left: 20px;
}