$sidebar-bg-color: white;
$sidebar-color: #adadad;
$sidebar-width: 270px;
$sidebar-collapsed-width: 80px;
$highlight-color: #d8d8d8;
$submenu-bg-color: #2b2b2b;
$submenu-bg-color-collapsed: #2b2b2b;
$icon-bg-color: #2b2b2b;
$icon-size: 35px;
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
@import '~react-pro-sidebar/dist/scss/styles.scss';