.container {
    height: 100%;
    display: flex;
    flex-direction: row;

}


.left {
    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    flex-grow: 1;
}

.right {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

/* Style for content */
.contentContainer {
    padding: 40px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.profileCard {
    border-radius: 10px;
    color: #eee;
    background-color: rgb(75, 96, 143);
}

.profileCardContent {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(53,68,104);
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardName {
    margin: 15px;
}

.requestButtons {
    display: flex;
    margin: 15px;
}



/* The following is moved from SearchFriends.module.css */

.bar {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-start;

    padding: 40px;
    padding-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;

    background-color: #ffeead;
}

.searchTitle {
    padding: 8px;
    padding-bottom: 2px;
}

.ul {
    list-style-type: none;
    width: 100%;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}


/* The following are from Sidebar.module.css */
.sidebar {
    background-color: rgb(53,68,104);
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 20px;
}

.requestListItem {
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;

    margin-bottom: 10px;

    border-radius: 10px;
    background-color: #ce4944;

    -webkit-animation: flash-background 2s infinite alternate;  /* Safari 4+ */
    -moz-animation: flash-background 2s infinite alternate;  /* Fx 5+ */
    -o-animation: flash-background 2s infinite alternate;  /* Opera 12+ */
    animation: flash-background 2s infinite alternate;  /* IE 10+, Fx 29+ */
}
 
@keyframes flash-background {
    0% {
      background-color:rgb(75, 96, 143);
    }
    50% {
      background-color: #ce4944;
    }
}


.friendListItem{
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;

    margin-bottom: 10px;

    border-radius: 10px;
    background-color: rgb(75, 96, 143);
}

.friendListItem:hove {
    background-color: rgb(86, 102, 134);

}



.solid {
    margin: 0px;
    border-top: solid #061D3D;
}

