html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbarLogo {
  width: 20px;
  height: auto;
  margin-right: 15px;
}

.link {
  cursor: pointer;
}

.lightBG{
  background-color: #ffeead;
}

#planCalendar {
  width: 100%;
  height: 100%;
}

div.wrapper { 
  margin: 4px, 4px; 
  padding: 4px; 
  border: 1px solid gray;
  background-color: azure; 
  width: 1200px; 
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap; 
  display: flex;
}

.item {
  width: 300px;
  flex-shrink: 0;
  text-align: center;
  height: 600px;
  border: 1px solid gray;
}