



/* Request Recommendation Styles */
.important {
    font-size: 30px;
    font-weight: 500;
    color: red;

    margin-bottom: 0px;
    padding-bottom: 0px;
}

.helpText {
    margin: 0px;
    color: rgb(61, 61, 61);
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 300;
}


/* Major Layout */
.outer {
    /* background-image: url("/Background/background.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-color:rgb(53,68,104);

    min-height: 100vh;
}


.content {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}


/* Card */
.profile {
    border-radius: 15px;
    padding: 30px;

    margin-right: 30px;

    box-sizing: border-box;

    height: 100%;
    min-width: 200px;

    color: white;
    background:rgb(75, 96, 143);  /* fallback for old browsers */
}


/* Navigation buttons */
.button {
    height: 200px;
    font-size: 2rem;
    color: black;

    border-width: 0;
    border-radius: 15px;

    margin-top: 40px;
}

.firstButton {
    margin-top: 0;
}
  
.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}
  