.login {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/Background/background.png");
    background-repeat: repeat-y;
    background-position: right;
    background-color:rgb(53,68,104);
}

.background {
    background-image: url("/Background/background.png");
    background-repeat: repeat-y;
    background-position: right;
    background-color:rgb(53,68,104);
}