.loginWrapper {
    position: absolute;
    top: 60px;
    width: 100%;
    height: absolute;
}
.login {
    margin: auto;
    margin-bottom: 80px;
    margin-top: 70px;

    padding: 40px;
    width: 350px;

    border-radius: 10px;
    background-color: #fff;
}

.redirect {
    color: '#0067b8';
}

.particles {
    z-index: 10;
    position: fixed;
    top: 0;
}

.outer {
    height: 100%;
    /* background-image: url("/Background/background.png"); */
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-color:rgb(53,68,104);

    overflow-x: auto;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    right: 0;
}
