.bar {
    padding: 12px 12px;
    font-size: 15px;
    width: 350px;
    display:block;
    outline: none;
    margin: 20px auto 20px;
}

.ul {
    list-style-type: none;
    width: 100%;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.btn {
    display: flex;
    margin-left: auto;
}

.input {
    display: inline-block;
}

.item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 11px 0px 12px 0px;
    list-style: none;
    height: 60px;
}