.bar {
    padding: 12px 12px;
    font-size: 15px;
    width: 350px;
    display:block;
    outline: none;
    margin: 20px auto 20px;
}

.ul {
    list-style: none;
    width: 420px;
    text-align: left;
    display: inline-block;
    margin: 0;
}

.ul li:hover{
    background-color: #88D8B0;
    width: 220px;
}

.btn {
    display: flex;
    margin-right: 15px;
    float: right;
}

.input {
    display: inline-block;
}