.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    background-color:rgb(53,68,104);

    min-height: 100vh;
}

.main {
    margin: auto;
    align-self: center;
    margin: auto;
    width: 480px;
    position: relative;
    margin-bottom: 200px;

}

.edit {
    align-self: center;
    margin-right: 0px;
    margin-left: auto;
}

.save {
    align-self: center;
    margin-right: 45px;
    margin-left: auto;
}
								
							